* {
  padding: 0;
  margin: 0; }

body {
  background-color: #f8f8f8;
  font-family: 'Open Sans', sans-serif; }

a.navbar-brand.course-name {
  font-size: 15px;
  color: #898989;
  display: none; }

@media (max-width: 991px) {
  .navbar-header {
    float: none; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .navbar-text {
    float: none;
    margin: 15px 0; }

  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block !important; }

  .collapsing {
    overflow: hidden !important; } }
header {
  background-image: url("../img/surfing-green-s.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center 35%;
  background-size: cover;
  text-align: center; }
  header h1 {
    margin: 160px 0 130px;
    color: #fff;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }

section {
  text-align: center;
  padding: 90px 0; }
  section h2 {
    margin: 0 0 40px 0; }
  section.bg-light {
    background-color: #fff; }
  section.bg-dim {
    background-color: #FAFAFA; }
  section.subject-progress div.progress-info {
    margin-top: 15px; }
    section.subject-progress div.progress-info p.primary {
      font-size: 18px;
      font-weight: bold; }

footer {
  text-align: center;
  padding: 90px 0 50px;
  color: white;
  background-color: #8FB93B; }
  footer div.copyright {
    margin-top: 60px; }

div.thumbnail {
  border-radius: 0; }
  div.thumbnail.add {
    background-color: #F8F8F8;
    border: 1px solid #E6E6E6 !important;
    text-align: center !important;
    color: #DDDDDD;
    padding: 0 0 8px 0 !important;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; }
    div.thumbnail.add:hover {
      background-color: #FAFAFA; }
  div.thumbnail.primary-thumbnail {
    border: 1px solid #111;
    margin: 10px 0;
    padding: 45px 30px;
    text-align: left;
    cursor: pointer;
    overflow: hidden;
    display: block;
    position: relative; }
    div.thumbnail.primary-thumbnail.add {
      font-size: 110px;
      padding: 0 0 8px 0 !important;
      line-height: 124px; }
    div.thumbnail.primary-thumbnail div.thumbnail-index {
      width: 34px; }
    div.thumbnail.primary-thumbnail div.thumbnail-content {
      margin: -24px 34px 0 34px; }
    div.thumbnail.primary-thumbnail h3 {
      font-size: 22px;
      margin: 0; }
    div.thumbnail.primary-thumbnail span.due-date {
      font-size: 14px;
      overflow: hidden;
      position: relative; }
    div.thumbnail.primary-thumbnail div.new {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 52px;
      color: #FFF;
      font-weight: bold; }
      div.thumbnail.primary-thumbnail div.new span.label {
        top: 41%;
        left: 7%;
        position: absolute;
        font-size: 14px; }
  div.thumbnail.secondary-thumbnail {
    border: 1px solid #111;
    margin: 10px 0;
    padding: 15px;
    text-align: left;
    cursor: pointer;
    overflow: hidden;
    position: relative; }
    div.thumbnail.secondary-thumbnail.add {
      font-size: 69px;
      padding: 0 0 5px 0 !important;
      line-height: 62px; }
    div.thumbnail.secondary-thumbnail div.thumbnail-index {
      width: 27px; }
    div.thumbnail.secondary-thumbnail div.thumbnail-content {
      margin: -18px 39px 0 27px; }
    div.thumbnail.secondary-thumbnail h3 {
      font-size: 17px;
      margin: 0; }
    div.thumbnail.secondary-thumbnail span.due-date {
      font-size: 12px;
      overflow: hidden;
      position: relative; }
    div.thumbnail.secondary-thumbnail div.new {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 52px;
      color: #FFF;
      font-weight: bold; }
      div.thumbnail.secondary-thumbnail div.new span.label {
        top: 36%;
        left: 7%;
        position: absolute;
        font-size: 14px; }
  div.thumbnail div.new.positive {
    background-color: #8FB93B; }
  div.thumbnail div.new.neutral {
    background-color: #8FB93B; }
  div.thumbnail div.new.warning {
    background-color: #F5BF6E; }
  div.thumbnail div.new.negative {
    background-color: #E18063; }
  div.thumbnail.positive {
    border: 1px solid #D5DEC3;
    background-color: #F1F4EB; }
    div.thumbnail.positive h3,
    div.thumbnail.positive span.due-date {
      color: #6A941B; }
    div.thumbnail.positive:hover {
      background-color: #F6F8F3; }
  div.thumbnail.neutral {
    border: 1px solid #E6EDD7;
    background-color: #FCFCFC; }
    div.thumbnail.neutral h3,
    div.thumbnail.neutral span.due-date {
      color: #585858; }
    div.thumbnail.neutral:hover {
      background-color: #FFFFFF; }
  div.thumbnail.warning {
    border: 1px solid #F1E4D1;
    background-color: #FFF7EB; }
    div.thumbnail.warning h3,
    div.thumbnail.warning span.due-date {
      color: #BB812B; }
    div.thumbnail.warning:hover {
      background-color: #FFFAF2; }
  div.thumbnail.negative {
    border: 1px solid #EFD9D3;
    background-color: #FBEEEA; }
    div.thumbnail.negative h3,
    div.thumbnail.negative span.due-date {
      color: #BB563C; }
    div.thumbnail.negative:hover {
      background-color: #FDF4F1; }

div.progress {
  max-width: 800px;
  margin: 0 auto;
  border-radius: 0;
  height: 18px; }
  div.progress .progress-bar {
    box-shadow: none; }
  div.progress .progress-bar-success {
    background-color: #8FB93B; }
  div.progress .progress-bar-warning {
    background-color: #F5BF6E; }
  div.progress .progress-bar-danger {
    background-color: #E18063; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #FFFFFF;
  background-color: #8FB93B; }

h3.category-name {
  text-align: left;
  margin-top: 55px; }

ul.materials-list {
  text-align: left;
  list-style-type: none; }
  ul.materials-list > li {
    margin-top: 10px;
    padding: 20px;
    cursor: pointer; }
    ul.materials-list > li:hover {
      background-color: #FFFFFF; }
    ul.materials-list > li h4 {
      color: #6A941B;
      font-size: 16px; }
    ul.materials-list > li p {
      color: #555555; }

img.contact-image {
  border-radius: 50%;
  width: 100%;
  max-width: 220px; }

ul.contact-info {
  list-style-type: none;
  color: #FFFFFF;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    ul.contact-info {
      text-align: left; } }
  ul.contact-info li.contact-name {
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 35px; }
  ul.contact-info li {
    margin-top: 10px;
    font-size: 14px; }

form.contact-form {
  margin-top: 50px;
  text-align: left; }
  form.contact-form textarea {
    border-radius: 0;
    resize: none;
    box-shadow: none;
    border: 1px solid #E6EDD7; }
  form.contact-form label {
    font-size: 26px;
    font-weight: normal; }
    form.contact-form label span.log-in-info {
      font-size: 14px;
      font-style: italic;
      margin-left: 10px; }
  form.contact-form input[type="submit"] {
    width: 100px;
    margin: 0 auto;
    border-radius: 0;
    padding: 15px 40px;
    height: inherit;
    width: inherit;
    box-shadow: none;
    border: 1px solid #E6EDD7; }

table.table-points th {
  text-align: right; }
table.table-points td {
  line-height: 35px !important;
  text-align: right; }
table.table-points td.name {
  text-align: left; }
table.table-points td.min-points {
  color: #B4B4B4; }
table.table-points td.max-points {
  color: #666666; }
table.table-points td.my-points {
  font-size: 20px; }
table.table-points span.insufficient {
  color: #DF4720; }
table.table-points span.required {
  color: #DF4720; }
table.table-points tbody td {
  vertical-align: middle !important; }
table.table-points tbody tr:hover {
  background-color: #F8F8F8; }
table.table-points tfoot {
  font-size: 20px; }
  table.table-points tfoot td.my-points {
    font-size: 50px;
    line-height: 50px !important; }

/*# sourceMappingURL=style.css.map */
