$primary-color: #8FB93B;
$navbar-height: 30px;

$positive-border-color: #D5DEC3;
$positive-background-color: #F1F4EB;
$positive-font-color: #6A941B;
$positive-background-hover: #F6F8F3;
$positive-highlight: #8FB93B;

$neutral-border-color: #E6EDD7;
$neutral-background-color: #FCFCFC;
$neutral-font-color: #585858;
$neutral-background-hover: #FFFFFF;
$neutral-highlight: #8FB93B;

$warning-border-color: #F1E4D1;
$warning-background-color: #FFF7EB;
$warning-font-color: #BB812B;
$warning-background-hover: #FFFAF2;
$warning-highlight: #F5BF6E;

$negative-border-color: #EFD9D3;
$negative-background-color: #FBEEEA;
$negative-font-color: #BB563C;
$negative-background-hover: #FDF4F1;
$negative-highlight: #E18063;

$alert-font-color: #DF4720;

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #f8f8f8;
	font-family: 'Open Sans', sans-serif;
}

a.navbar-brand {
	&.course-name {
		font-size: 15px;
		color: #898989;
		display: none;
	}
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

header {
	background-image: url("../img/surfing-green-s.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center 35%;
	background-size: cover;
	text-align: center;
	h1 {
		$title-padding: 130px;
		margin: $title-padding + $navbar-height 0 $title-padding;
		color: #fff;
		text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
	}
}



section {
	text-align: center;
	padding: 90px 0;

	h2 {
		margin: 0 0 40px 0;
	}

	&.bg-light {
		background-color: #fff;
	}

	&.bg-dim {
		background-color: #FAFAFA;
	}

	&.subject-progress {		
		div.progress-info {
			margin-top: 15px;
			p.primary {
				font-size: 18px;
				font-weight: bold;
			}
		}
	}
}

footer {
	text-align: center;
	padding: 90px 0 50px;
	color: white;
	background-color: $primary-color;
	div.copyright {
		margin-top: 60px;
	}
}

div.thumbnail {
	border-radius: 0;

	&.add {
		background-color: #F8F8F8;
		border: 1px solid #E6E6E6 !important;
		text-align: center !important;
		color: #DDDDDD;
		padding: 0 0 8px 0 !important;
		vertical-align: middle;
		-webkit-user-select: none;        
		-moz-user-select: none;
		-ms-user-select: none;

		&:hover {
			background-color: #FAFAFA;
		}
	}

	&.primary-thumbnail {
		border: 1px solid #111;
		margin: 10px 0;
		padding: 45px 30px;
		text-align: left;
		cursor: pointer;
		overflow: hidden;
		display: block;
		position: relative;
		$index-width: 34px;

		&.add {
			font-size: 110px;
			padding: 0 0 8px 0 !important;
			line-height: 124px;
		}

		div.thumbnail-index {
			width: $index-width;
		}

		div.thumbnail-content {
			margin: -24px 34px 0 $index-width;
		}

		h3 {
			font-size: 22px;
			margin: 0;
		}

		span.due-date {
			font-size: 14px;
			overflow: hidden;
			position: relative;
		}

		div.new {
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			width: 52px;
			color: #FFF;
			font-weight: bold;
			span.label {
				top: 41%;
				left: 7%;
				position: absolute;
				font-size: 14px;
			}
		}
	}

	&.secondary-thumbnail {
		border: 1px solid #111;
		margin: 10px 0;
		padding: 15px;
		text-align: left;
		cursor: pointer;
		overflow: hidden;
		position: relative;
		$index-width: 27px;

		&.add {
			font-size: 69px;
			padding: 0 0 5px 0 !important;
			line-height: 62px;
		}

		div.thumbnail-index {
			width: $index-width;
		}

		div.thumbnail-content {
			margin: -18px 39px 0 $index-width;
		}

		h3 {
			font-size: 17px;
			margin: 0;
		}

		span.due-date {
			font-size: 12px;
			overflow: hidden;
			position: relative;
		}

		div.new {
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			width: 52px;
			color: #FFF;
			font-weight: bold;
			span.label {
				top: 36%;
				left: 7%;
				position: absolute;
				font-size: 14px;
			}
		}
	}

	div.new {
		&.positive {
			background-color: $positive-highlight;
		}
		&.neutral {
			background-color: $neutral-highlight;
		}
		&.warning {
			background-color: $warning-highlight;
		}
		&.negative {
			background-color: $negative-highlight;
		}
	}

	&.positive {
		border: 1px solid $positive-border-color;
		background-color: $positive-background-color;
		h3,
		span.due-date { color: $positive-font-color; }
		&:hover {
			background-color: $positive-background-hover;
		}
	}

	&.neutral {
		border: 1px solid $neutral-border-color;
		background-color: $neutral-background-color;
		h3,
		span.due-date { color: $neutral-font-color; }
		&:hover {
			background-color: $neutral-background-hover;
		}
	}

	&.warning {
		border: 1px solid $warning-border-color;
		background-color: $warning-background-color;
		h3,
		span.due-date { color: $warning-font-color; }
		&:hover {
			background-color: $warning-background-hover;
		}
	}

	&.negative {
		border: 1px solid $negative-border-color;
		background-color: $negative-background-color;
		h3,
		span.due-date { color: $negative-font-color; }
		&:hover {
			background-color: $negative-background-hover;
		}
	}
}

div.progress {
	max-width: 800px;
	margin: 0 auto;
	border-radius: 0;
	height: 18px;
	.progress-bar {
		box-shadow: none;
	}
	.progress-bar-success {
		background-color: $positive-highlight;
	}
	.progress-bar-warning {
		background-color: $warning-highlight;
	}
	.progress-bar-danger {
		background-color: $negative-highlight;
	}
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	color: #FFFFFF;
	background-color: $primary-color;
}

h3.category-name {
	text-align: left;
	margin-top: 55px;
}

ul.materials-list {
	text-align: left;
	list-style-type: none;

	& > li {
		margin-top: 10px;
		padding: 20px;
		cursor: pointer;
		
		&:hover {
			background-color: #FFFFFF;
		}

		h4 {
			color: $positive-font-color;
			font-size: 16px;
		}

		p {
			color: #555555;
		}
	}
}

img.contact-image {
	border-radius: 50%;
	width: 100%;
	max-width: 220px;
}

ul.contact-info {
	list-style-type: none;
	color: #FFFFFF;
	text-align: center;

	@media only screen and (min-width : 768px) {
		text-align: left;
	}

	li.contact-name {
		margin-top: 40px;
		margin-bottom: 0;
		font-size: 35px;
	}
	li {
		margin-top: 10px;
		font-size: 14px;
	}
}

form.contact-form {
	margin-top: 50px;
	text-align: left;

	textarea {
		border-radius: 0;
		resize: none;
		box-shadow: none;
		border: 1px solid $neutral-border-color;
	}

	label {
		font-size: 26px;
		font-weight: normal;
		span.log-in-info {
			font-size: 14px;
			font-style: italic;
			margin-left: 10px;
		}
	}

	input[type="submit"] {
		width: 100px;
		margin: 0 auto;
		border-radius: 0;
		padding: 15px 40px;
		height: inherit;
		width: inherit;
		box-shadow: none;
		border: 1px solid $neutral-border-color;
	}
}

table.table-points {

	th {
		text-align: right;
	}

	td {
		line-height: 35px !important;
		text-align: right;
	}

	td.name {
		text-align: left;
	}

	td.min-points {
		color: #B4B4B4;
	}

	td.max-points {
		color: #666666;
	}

	td.my-points {
		font-size: 20px;
	}
	span.insufficient {
		color: $alert-font-color;
	}

	span.required {
		color: $alert-font-color;
	}

	tbody {
		td {
			vertical-align: middle !important;
		}

		tr {
			&:hover {
				background-color: #F8F8F8;
			}
		}
	}

	tfoot {
		font-size: 20px;

		td.my-points {
			font-size: 50px;
			line-height: 50px !important;
		}
	}
}

