<!DOCTYPE html>
<html>
<head>

	<title>Apps</title>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">       
	<link rel="stylesheet" href="css/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

</head>
<body ng-app="catsApp">

	<header>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 logo-area">
					<h1>Kassid</h1>
					<p>Priit Trink, 134300IAPB</p>
				</div>
			</div>
		</div>
	</header>

	<section class="form" ng-controller="CatController" ng-cloak>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">

					<div class="tabs">
						<a href="#" ng-click="showForm()" class="tab" ng-class="activeForm">Form</a>
						<a href="#" ng-click="showCats()" class="tab" ng-class="activeCats">Cats</a>
					</div>

					<div class="form-area" ng-show="form">
						<form class="form-horizontal" 
						      onSubmit="return false;" 
						      ng-submit="submit(name, age)">

							<div class="form-group">
								<label class="control-label col-sm-3" for="email">Nimi:</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" ng-model="name" placeholder="Sisesta nimi" required>
									<span ng-show="!name.length">Kassil peab olema nimi.</span>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-sm-3" for="pwd">Sünniaasta:</label>
								<div class="col-sm-9"> 
									<select class="form-control" 
													name="age" 
									        ng-options="option.value as option.year for option in options"
									        ng-model="age" 
									        ng-init="age = options[0].value"
									        required>
									</select>
								</div>
							</div>

							<div class="form-group"> 
								<div class="col-sm-offset-3 col-sm-9">
									<button type="submit" class="btn btn-default" id="submit">Submit</button>
								</div>
							</div>
						</form>
					</div>

					<div class="cats" ng-show="catsList">
						<div class="cats">
							<ul>
								<li ng-repeat="cat in cats">{{ cat.name }}, {{ cat.age }}</li>
							</ul>
						</div>
					</div>			

				</div>
			</div>				
		</div>
	</section>


	<script src="js/app.js"></script>
	<script src="js/controllers/CatController.js"></script>

</body>
</html>