<div class="col-xs-offset-3 col-xs-6 col-sm-offset-1 col-sm-4 col-md-offset-2 col-md-3">
	<img src="{{ contact.img }}" class="contact-image">
</div>

<div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-5 col-md-6">
	<ul class="contact-info">
		<li class="contact-name">{{ contact.name }}</li>
		<li>{{ contact.eMail }}</li>
		<li>{{ contact.location }}</li>
	</ul>
</div>