<div class="col-sm-12">
	<h3 class="category-name">{{ category.category }}</h3>
	<ul class="materials-list">
		<li ng-repeat="material in category.materials" 
		    ng-click="$parent.$parent.navigateTo(material.link);">
			<h4>{{ material.name }}</h4>
			<p>{{ material.description }}</p>
		</li>
	</ul>
</div>