<div class="col-sm-12">
	
	<table class="table table-hover table-points">
		<thead>
			<tr>
				<th></th>
				<th>Min</th>
				<th>Punktid</th>
				<th>Max</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="pointSubject in pointSubjects">
				<td class="name">
					{{ pointSubject.name }}
					<span class="required" ng-show="pointSubject.required">
						*
					</span>
				</td>
				<td class="min-points">
					<span ng-hide="pointSubject.minPoints == 0">
						{{ pointSubject.minPoints }}
					</span>								
				</td>
				<td class="my-points">
					<span ng-class="{insufficient: pointSubject.points < pointSubject.minPoints}" 
					      ng-show="pointSubject.graded">
						{{ pointSubject.points }}
					</span>
					<span ng-show="!pointSubject.graded">-</span>
				</td>
				<td class="max-points">
					{{ pointSubject.maxPoints }}
				</td>
			</tr>
		</tbody>

		<tfoot>
			<tr>
				<td></td>
				<td class="min-points"></td>
				<td class="my-points">{{ sum.points }}</td>
				<td class="max-points">{{ sum.maxPoints }}</td>
			</tr>
		</tfoot>
	</table>

</div>