<div class="col-sm-12 col-md-12 col-lg-6">
	<div class="thumbnail primary-thumbnail {{ subject.status }}">
		<div class="thumbnail-index"><h3>{{ index }}.</h3></div>
		<div class="thumbnail-content">
			<h3>{{ subject.name }}</h3>
			<span class="due-date">Tähtaeg: {{ subject.due }}</span>
		</div>
		<div class="new {{ subject.status }}" ng-show="subject.new">
			<span class="label">UUS</span>
		</div>
	</div>
</div>