<div class="col-sm-12">
	<div class="progress-bar-area">
		<div class="progress">
		  <div class="progress-bar progress-bar-striped {{ progress.status.progressBarStyle }}" 
		       role="progressbar"
		       aria-valuenow="{{ progress.percentage }}"
		       aria-valuemin="0" 
		       aria-valuemax="100" 
		       style="width:{{ progress.percentage }}%">
		  </div>
		</div>
	</div>
	<div class="progress-info">
		<p class="primary">{{ progress.status.text }}</p>
		<p ng-show="progress.status.showAdditionalInfo">{{ progress.percentage }}% kursusest on läbitud.</p>
	</div>					
</div>