[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

textarea:focus, input:focus{
	outline: none;
	outline-style:none;
	box-shadow:none;
	border-color:transparent;
}

*:focus {
	outline: none;
	outline-style:none;
	box-shadow:none;
	border-color:transparent;
}

div.logo-area {
	padding: 60px 0 0;
	text-align: center;
}

div.form-area {
	margin: 0 auto;
	width: 500px;
	max-width: 100%;
	position: relative;
}

a.tab {
	padding: 10px 20px;
	color: #222;
}

a.tab.active {
	background-color: #eee;
	color: #444;
}

div.tabs {
	margin: 0 auto;
	height: 40px;
}

section {
	margin: 30px;
}