* {
  padding: 0;
  margin: 0; }

body {
  background-color: #eee; }

header {
  background-image: url("../img/education-header.jpg");
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  text-align: center; }
  header h1 {
    padding: 160px 0 130px;
    color: #fff; }

section {
  text-align: center;
  padding: 60px 0; }
  section h2 {
    margin: 0 0 20px 0; }
  section.bg-light {
    background-color: #fff; }
  section.bg-dim {
    background-color: #fbfbfb; }
  section.courses .course-thumbnail {
    position: relative;
    border: 1px solid #D3D3D3;
    margin: 0 0 20px 0;
    cursor: pointer; }
    section.courses .course-thumbnail:hover {
      border: 1px solid #e8e8e8; }
      section.courses .course-thumbnail:hover .course-thumbnail-dim {
        background-color: rgba(0, 0, 0, 0.15); }
    section.courses .course-thumbnail .course-thumbnail,
    section.courses .course-thumbnail .course-thumbnail-dim {
      position: absolute;
      width: 100%;
      height: 100px;
      background-repeat: none;
      background-attachment: scroll;
      background-position: center center;
      background-size: cover; }
    section.courses .course-thumbnail .course-thumbnail-dim {
      background-color: rgba(0, 0, 0, 0.3); }
    section.courses .course-thumbnail h3 {
      position: inherit;
      width: 100%;
      margin: 0;
      color: #fff;
      text-align: left;
      font-size: 22px;
      padding: 38px 15px;
      text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 700; }
    section.courses .course-thumbnail p {
      padding: 20px 0;
      margin: 0; }

footer {
  background-color: #eee;
  text-align: center;
  padding: 50px 0; }

/*# sourceMappingURL=style.css.map */
