<div class="course-thumbnail" id="course-thumbnail">
	<div class="course-thumbnail" style="background-image: url('{{ course.image }}')"></div>
	<div class="course-thumbnail-dim" id="course-thumbnail-dim"></div>
	<h3>{{ course.name }}</h3>
	<p>{{ course.progress }}</p>
</div>