<!DOCTYPE html>
<html>
<head>

	<title>Kasutajaliidesed</title>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">       
	<link rel="stylesheet" href="css/style.css"> 

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300,300italic,400italic' rel='stylesheet' type='text/css'>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>  

</head>
<body ng-app="kasutajaliidesApp" id="page-top">

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll" id="navbar">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand page-scroll course-name" id="navbar-title" href="#page-top">
					Kasutajaliidesed - ITI0130
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="hidden">
						<a href="#page-top"></a>
					</li>
					<li>
						<a class="page-scroll" href="#subject-progress">Progress</a>
					</li>
					<li>
						<a class="page-scroll" href="#subject-practicals">Praktikumid</a>
					</li>
					<li>
						<a class="page-scroll" href="#subject-labs">Laborid</a>
					</li>
					<li>
						<a class="page-scroll" href="#subject-tests">Testid</a>
					</li>
					<li>
						<a class="page-scroll" href="#subject-points">Punktiseis</a>
					</li>
					<li>
						<a class="page-scroll" href="#subject-materials">Materjalid</a>
					</li>
					<li>
						<a class="page-scroll" href="#subject-footer">Kontakt</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>


	<header>
		<div class="container">
			<div class="row">

				<div class="col-md-12">
					<h1>Kasutajaliidesed - ITV0130</h1>
				</div>
			</div>

		</div>
	</header>


	<section class="subject-progress bg-light" id="subject-progress" ng-controller="ProgressController" ng-cloak>
		<div class="container">
			<div class="row">

				<div class="col-sm-12">
					<h2>Progress</h2>
				</div>

				<progress-bar progress="progress"></progress-bar>

			</div>				
		</div>
	</section>


	<section class="subject-practicals bg-dim" id="subject-practicals" ng-controller="PracticalsController" ng-cloak>
		<div class="container">
			<div class="row">

				<div class="col-sm-12">
					<h2>Praktikumid</h2>
				</div>
				
				<secondary-thumbnail ng-repeat="practicum in practicals"
				                     subject="practicum" 
				                     index="{{ $index + 1 }}">
				</secondary-thumbnail>

				<secondary-thumbnail-add></secondary-thumbnail-add>
				
			</div>
		</div>
	</section>


	<section class="subject-labs bg-light" id="subject-labs" ng-controller="LabsController" ng-cloak>
		<div class="container">
			<div class="row">
				
				<div class="col-sm-12">
					<h2>Laborid</h2>
				</div>

				<primary-thumbnail ng-repeat="lab in labs"
				                   subject="lab" 
				                   index="{{ $index + 1 }}">
				</primary-thumbnail>

				<primary-thumbnail-add navigate-function="newLab()"></primary-thumbnail-add>

			</div>
		</div>
	</section>


	<section class="subject-tests bg-dim" id="subject-tests" ng-controller="TestsController" ng-cloak>
		<div class="container">
			<div class="row">
				
				<div class="col-sm-12">
					<h2>Testid</h2>
				</div>

				<primary-thumbnail ng-repeat="test in tests"
				                   subject="test" 
				                   index="{{ $index + 1 }}">
				</primary-thumbnail>

				<primary-thumbnail-add></primary-thumbnail-add>

			</div>
		</div>
	</section>


	<section class="subject-points bg-light" id="subject-points" ng-controller="PointsController" ng-cloak>
		<div class="container">
			<div class="row">
				
			<div class="col-sm-12">
				<h2>Punktiseis</h2>
			</div>

			<point-table point-subjects="pointSubjects" sum="sum"></point-table>

			</div>
		</div>
	</section>

	<section class="subject-materials bg-dim" id="subject-materials" ng-controller="MaterialsController" ng-cloak>
		<div class="container">
			<div class="row">
				
				<div class="col-sm-12">
					<h2>Materjalid</h2>
				</div>

				<material-category ng-repeat="category in categories" category="category"></material-category>

			</div>
		</div>
	</section>

	<footer id="subject-footer" ng-controller="ContactController" ng-cloak>
		<div class="container">
			<div class="row">
				
				<contact-info contact="teacher"></contact-info>
	
				<div class="col-xs-12 col-md-offset-1 col-md-10">
					<form class="contact-form" role="form">
						<div class="form-group">
							<label for="letter">Küsimusi? <span class="log-in-info">(Kirjutad kui {{ user.name }})<span></label>
							<textarea class="form-control" rows="12" id="letter"></textarea>
						</div>
						<input type="submit" class="form-control" value="Saada"/>
					</form>
				</div>

				<div class="copyright col-xs-12">
					<p>Copyright Priit Trink 2016</p>
				</div>

			</div>
		</div>
	</footer>



	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<!-- Modules -->
	<script src="js/app.js"></script>

	<!-- Controllers -->
	<script src="js/controllers/LandingPageController.js"></script>
	<script src="js/controllers/ProgressController.js"></script>
	<script src="js/controllers/PracticalsController.js"></script>
	<script src="js/controllers/LabsController.js"></script>
	<script src="js/controllers/TestsController.js"></script>
	<script src="js/controllers/MaterialsController.js"></script>
	<script src="js/controllers/PointsController.js"></script>
	<script src="js/controllers/ContactController.js"></script>

	<!-- Directives -->
	<script src="js/directives/directives.js"></script>

	<script src="js/smoothScroll.js"></script>
	<script src="js/script.js"></script>

</body>
</html>