<!DOCTYPE html>
<html>
<head>

	<title>Kasutajaliidesed</title>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">       
	<link rel="stylesheet" href="css/style.css"> 

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>  

</head>
<body ng-app="kasutajaliidesApp">

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand page-scroll" href="#page-top">
					See on Logo
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="hidden">
						<a href="#page-top"></a>
					</li>
					<li>
						<a class="page-scroll" href="#services">Üks</a>
					</li>
					<li>
						<a class="page-scroll" href="#about">Kaks</a>
					</li>
					<li>
						<a class="page-scroll" href="#team">Kolm</a>
					</li>
					<li>
						<a class="page-scroll" href="#contact">Neli</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Siia tuleb suur pilt</h1>
				</div>
			</div>
		</div>
	</header>


	<section class="courses bg-light" ng-controller="LandingPageController">
		<div class="container">
			<div class="row">

				<div class="col-lg-12">
					<h2>Courses</h2>
				</div>

				<div class="col-lg-4 col-md-6 col-sm-12" ng-repeat="course in courses">
					<course-thumbnail course="course"></course-thumbnail>
				</div>

			</div>
				
		</div>
	</section>

	<section class="courses bg-dim">
		<div class="container">
			<div class="row">

				<div class="col-lg-12">
					<h2>Mingi teine sektsioon</h2>
				</div>

				<div class="col-lg-4 col-md-6 col-sm-12">
					Siia tulevad courses
				</div>

				<div class="col-lg-4 col-md-6 col-sm-12">
					Siia tulevad courses
				</div>

				<div class="col-lg-4 col-md-6 col-sm-12">
					Siia tulevad courses
				</div>

				<div class="col-lg-4 col-md-6 col-sm-12">
					Siia tulevad courses
				</div>
				
			</div>
		</div>
	</section>


	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1>Footer</h1>
				</div>
			</div>
		</div>
	</footer>



	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<!-- Modules -->
	<script src="js/app.js"></script>

	<!-- Controllers -->
	<script src="js/controllers/LandingPageController.js"></script>

	<!-- Directives -->
	<script src="js/directives/courseThumbnail.js"></script>

	<script src="js/script.js"></script>

</body>
</html>